
/*Creación de variables*/
$color-fondo-blanco:#fff;
$color-letra-negro:#000;
$color-celeste:#00B5F3;
$color-celeste-oscuro:#066a88;
/*Selectores de estilo ID*/
#footer{
    background-color: $color-fondo-blanco;
    color: $color-letra-negro;
    padding-bottom: 0px;

}


.bg-secondarya{
    /*background-color: $color-celeste-oscuro;*/
    background-image: linear-gradient(to left, $color-celeste-oscuro, $color-celeste);
}

.titulo_contenido_pie{
    color: $color-letra-negro;
    font-size: 18px;
    font-weight: 700;
}
.contenido_pie{
    color: $color-letra-negro;
    font-size: 16px;
    font-weight: 400;
}

.fondo-base{

    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    box-shadow: none;
    box-shadow: 2px 0px 10px rgba(0,0,0,0.2);
    border-bottom: 1px solid #e6e6e6;
    background-color: $color-fondo-blanco;
    height: 150px;
    padding: 10px;
}

.inf{
    color: $color-letra-negro;
    font-size: 16px;
    font-weight: 400;
    list-style-type: none;
}

.rrss-img{
    width: 8%;
    padding-top: 10px;
    display: inline-flex;
    

}
